{% extends 'publish/base_homepage.html' %}
{% block status %}

	{% for s in status %}
	<div class="well">
		{% if s.picture%}
		<img class="img-responsive" src="{{ s.picture.url }}" style="margin-left:auto; margin-right:auto;"></img>
		{% endif %}
		<div class="messages">
			<div class="row">
				<div class="col-xs-3 col-sm-4 col-md-3" style="padding-left: 0;">
					<h4 style="padding-left: 20px;">{{ user_obj.last_name }}{{ user_obj.first_name }}:</h4>
				</div>
				<div class="col-xs-9 col-sm-8 col-md-9" style="text-align: left; padding-left: 0">
					<h4 style="padding-left: 0;">{{s.message}}</h4>
				</div>
			</div>
			<hr>
			<p class="text-muted">{{s.timestamp}}</p>
		</div>
	</div>
	{% endfor %}
	

{% endblock %}