{% extends 'publish/base_homepage.html' %}
{% block status %}
	{% for s in status %}
	<div class="well">
		{% if s.picture%}
		<img class="img-responsive" src="{{ s.picture.url }}" style="margin-left:auto; margin-right:auto;"></img>
		{% endif %}
		<div class="messages">
			<div class="row">
				<div class="col-xs-1" style="margin-right: 30px;">
					<img class="" style="width: 40px; height: auto;" src="{{ info_obj.pic.url }}"></img>
				</div>
				<div class="col-xs-9" style="padding:0">
					<h4 style="">{{s.message}}</h4>
				</div>
			</div>
			<hr>
			<p class="text-muted">{{ user_obj.last_name }}{{ user_obj.first_name }}:&nbsp;{{s.timestamp}}</p>
		</div>
	</div>
	{% endfor %}
{% endblock %}